* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Cormorant', serif;
}
a{
    text-decoration: none;
    color: white;
}
.content{
    background-color: white;
    width: 850px;
    float: left;
    height: auto;
    z-index: 2;
}
.section{
    float: left;
    width: 100%;
}
.container{
    margin: 0 auto;
    float: none;
    width: 1300px;
}
li{
    list-style: none;
    float: left;
}
.header{
    width: 100%;
    height: 100%;
    font-weight: bold;
}
.header .history{
    width: 308px;
    height: 80px;
    background: none;
    border: 2px solid white;
    color: white;
    position: relative;
    z-index: 99;
    left: 1150px;
    top: -427px;
    font-size: 20px;
    text-align: center;
    font-weight: 500;
    box-shadow: 5px 5px 10px gray;
}
.header .history:hover{
    background-color: chocolate;
}
.logo{
    width: 141px;
    height:66px;
    float: left;
    padding-left: 30px;
    z-index: 2;
    position: relative;
}
.nav{
    width: 800px;
    height: 40px;
    float: right;
    padding-top: 40px;
    position: relative;
    z-index: 2;
}
.nav ul li{
    float: left;
    padding-left: 40px;
    position: relative;
}
.subMenu{
    width: 183px;
    background-color: #121212;
    position: absolute;
    top: 30px;
    line-height: 1.5;
    right:-60px;
    text-align:left;
    display: none;
}
.nav ul li.active .subMenu{
    display: block;
    padding:0;
}
.block ul li{
    float: none;

}
.logo{
    width: 141px;
    height:66px;
    float: left;
    padding-left: 30px;
    z-index: 2;
    position: relative;
}
.nav{
    width: 800px;
    height: 40px;
    float: right;
    padding-top: 40px;
    position: relative;
    z-index: 2;
}
.nav ul li {
    float: left;
    padding-left: 40px;
}
.top{
    float: left;
    font-weight: 600;
    transform: translate(0px,-17px);
}

img{
    max-width: 80%;
}

figure{
    padding-right: 50px;
}
figcaption {
    text-indent: -10px;
    color: white;
}
.entry{
    width:75%;
    margin: 30px 110px;
    float:left;
}
.sidebar{
    margin-top: 90px;
    transform: translate(-130px,0px);
}
.rightbar{
    width: 350px;
    height: 390px;
    opacity: 100%;
    float:right;
    padding: 10px;
    background-color:initial;
}
.rbcontain{
    text-align: center;
    float:left;
    margin: 10px auto;
    width:100%;
    height: 350px;
    font-size:14px;
    line-height: 1.5;
    overflow: hidden;
}
h3{
    color: white;
    padding: 5px;
}
.section{
    float: left;
    width: 100%;
}
body {
    font-family: "Cormorant", sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.25;
    text-align: left;
    background-color: black;
    background-image: url("../images/NEW/h1-bacground-img-2.jpg");
    background-size: cover;
}
h2 ,p{
    color: black;
    font-size: 18px;
}
.form{
    color: aliceblue;
    margin-right: 200px;
}
input[type=text]{
    width: 35%;
    padding: 12px 20px;
    margin: 8.5px 0;
    box-sizing: border-box;
    border: 2px solid #996633;
    border-radius: 10px;
    -webkit-transition: 0.5s;
    transition: 0.6s;
    outline: none;
}
input[type=text]{
    width: 350px;
    padding: 12px 20px;
    margin: 8.5px 0;
    box-sizing: border-box;
    border: 2px solid #996633;
    border-radius: 10px;
    -webkit-transition: 0.5s;
    transition: 0.6s;
    outline: none;
}
input[type=text]:focus {
    border: 3px solid #F00000;
}
button[type=submit] {
    width: 350px;
    background-color: #FF3300;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}
.container{
    float: none;
    width: 1366px;
    margin: 0 auto;
    background-color: #e3e3e3;
}
footer{
    color: white;
    font-size: 16px;
    overflow: hidden;
    margin-top:30px;
    background-color: #121212;
    width: 100%;
    height: 191px;
}
footer a{
    color: white;
}
.introduce_footer{
    background-color: #121212;
    padding-left: 50px;
    width: 30%;
    height: 100%;
    float: left;
    margin-top: 30px;
}
.introduce_footer ul{
    list-style: none;
}
.introduce_footer li{
    padding-bottom: 9px;
    float: none;
}
.address_footer p{
    color: white;
    line-height: 1.5;
}
.hotline_footer p{
    color: white;
    padding-left: 3px;
}
.hotline_footer p img{
    padding-right: 5px;
}
.contact_foot{
    background-color:#121212;
}
.contact_foot ul{
    list-style: none;
}
.footer_title{
    color: white;
}
.formdk{
    margin-left: 400px;
    margin-top:-300px;
}